body {
    background-color: rgb(46, 48, 53);
    color: cornsilk;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr {
    margin: 0;
}

input {
    padding: 4px;
    padding-left: 8px;
    color: white;
}

button {
    padding: 5px;
    color: white;
}

.margin-left {
    margin-left: 40px;
}

.small-padding {
    padding: 10px;
}

/*Everything below is about expenses.*/

#expense {
    color: gray;
}

.expense {
    background-color: rgb(100, 100, 100);
}

.expense__container {
    border: 3px solid white;
    word-wrap: break-word;
    visibility: hiden;
}

/*The following are about the input boxes for the expense.*/

.expense__name {
    display: block;
}

.expense ::placeholder {
    color: rgb(225, 225, 225, 0.5);
}

.expense__amount {
    display: block;
}

/*The above are about input boxes for the expense*/



/*The following are about the output of the expense*/
#expense__output {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.expense__newExpense {
    border: solid 3px black;
    background-color: rgb(80, 80, 50)
}

.expense__item {
    background-color: darkred;
    display: block;
    padding: 10px 20px;
    width: 50vw;
    border: solid 1px black;
}

.expense__cost {
    background-color: darkcyan;
    border: solid 1px black;
    display: block;
    padding: 10px 20px;
    width: 50vw;
}

.remove__expense {
    margin-left: 10px;
    background-color: black;
}

.remove__box {
    border: solid 1px black;
}

/*The above are about the output of the expense.*/

/*Everything above is about expenses*/



/*Everything below is about the search*/

#search {
    border: 3px solid gray;
    background-color: black;
}

.search {
    background-color: black;
}

/*The following are about the search inputs*/

.search__name {
    display: block;
}

.search__amount {
    display: block;
}

.search__submit {
    color: white;
}

.search__unsort {
    color: white;
}

/*The above are about search inputs*/

/*Everything above is about the search*/



/*Everything below is about the budget*/
#budget {
    border: 3px solid green;
    background-color: darkslategrey;
}

.budget {
    background-color: darkslategrey;
}

.budget__max {
    display: block;
}

.budget__output {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkgoldenrod;
    background-color: rgb(80, 80, 50);
    border: darkorange 2px solid;
    padding: 25px 0;
    margin: auto;
}




/*There may be problems with the github.*/